---
type Props = {
  title: string;
  description: string;
  primaryLink: string;
  secondaryLink: string;
  version: string;
  bgActive: 'bg-gray-extralight' | 'bg-opacity-0';
};

const { title, description, primaryLink, secondaryLink, version, bgActive } =
  Astro.props as Props;
---

<div
  class={`mt-6 flex min-h-full flex-wrap items-center justify-center gap-4 gap-y-8 rounded-md bg-gray-extralight p-6 text-center sm:justify-between sm:text-left ${bgActive}`}
>
  <div class="flex flex-wrap items-center justify-center gap-8">
    <div class="max-w-[30ch]">
      <strong class="max-w-[40ch] font-bold text-black">
        {title}
      </strong>

      <p class="mt-4 text-xs text-gray-dark">
        {description}
      </p>
    </div>

    <div>
      <p class="text-sm text-gray-dark">{version}</p>
    </div>
  </div>

  <div class="flex flex-col gap-2 self-center text-center sm:text-right">
    <a
      href={primaryLink}
      target="_blank"
      rel="noopener noreferrer"
      class="rounded-md bg-indigo-main px-4 py-2 font-bold text-white transition-colors duration-500 hover:bg-indigo-light hover:text-indigo-main"
    >
      Download
    </a>

    <a
      href={secondaryLink}
      target="_blank"
      rel="noopener noreferrer"
      class="text-xs text-blue-main visited:text-purple hover:underline"
    >
      See more &gt;&gt;
    </a>
  </div>
</div>
